html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* looking a better centering solution, this is not ideal */
.login-box {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 0px;
  justify-content: center;
}

.login-text {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

